apiVersion: apps/v1
kind: Deployment
metadata:
  name: poi-deployment
  labels:
    app: poi
spec:
  replicas: 2
  selector:
    matchLabels:
      app: poi
  template:
    metadata:
      labels:
        app: poi
        version: '1.0'
    spec:
      containers:
      - name: poi
        image: registrycyb9188.azurecr.io/tripinsights/poi:1.0
        resources:
            limits:
              cpu: 250m
              memory: 256Mi
        ports:
        - containerPort: 80
#        volumeMounts:
#          - mountPath: "/secrets" # this will be the configmap
#            name: secrets
#            readOnly: true
#          - mountPath: "/secrets/SQL_PASSWORD" # this will be the secret
#            name: sql-password
#            readOnly: true
        livenessProbe:
          httpGet:
            path: /api/poi/healthcheck
            port: 80
          initialDelaySeconds: 5
          periodSeconds: 3
        readinessProbe:
          httpGet:
            path: /api/poi/healthcheck
            port: 80
          initialDelaySeconds: 5
          periodSeconds: 3
