apiVersion: secrets-store.csi.x-k8s.io/v1alpha1
kind: SecretProviderClass
metadata:
  name: azure-kvname
spec:
  provider: azure
  parameters:
    usePodIdentity: "false"                   # [REQUIRED] Set to "true" if using managed identities
    useVMManagedIdentity: "false"             # [OPTIONAL] if not provided, will default to "false"
    userAssignedIdentityID: "b8d9cc46-ee92-442a-b572-f220d7167c28"       # [REQUIRED] If you're using a service principal, use the client id to specify which user-assigned managed identity to use. If you're using a user-assigned identity as the VM's managed identity, specify the identity's client id. If the value is empty, it defaults to use the system-assigned identity on the VM
                                                             #     az ad sp show --id http://contosoServicePrincipal --query appId -o tsv
                                                             #     the preceding command will return the client ID of your service principal
    keyvaultName: "keyvault-openhack"          # [REQUIRED] the name of the key vault
                                              #     az keyvault show --name contosoKeyVault5
                                              #     the preceding command will display the key vault metadata, which includes the subscription ID, resource group name, key vault 
    cloudName: ""                                # [OPTIONAL for Azure] if not provided, Azure environment will default to AzurePublicCloud
    objects:  |
      array:
        - |
          objectName: SQL-PASSWORD
          objectAlias: SQL_PASSWORD
          objectType: secret
        - |
          objectName: SQL-USER
          objectAlias: SQL_USER
          objectType: secret
        - |
          objectName: SQL-SERVER
          objectAlias: SQL_SERVER
          objectType: secret
        - |
          objectName: SQL-DBNAME
          objectAlias: SQL_DBNAME
          objectType: secret
    resourceGroup: "teamResources"     # [REQUIRED] the resource group name of the key vault
    subscriptionId: "1fe5d6f9-96e7-446a-bacd-a1ebec20b614"          # [REQUIRED] the subscription ID of the key vault
    tenantId: "ce87cc58-daa2-4d65-91b5-4d64c1208d9f"                      # [REQUIRED] the tenant ID of the key vault